@media screen and (max-width: 768px) {
    .Playground{
        margin: 0;
        margin-left: -10%;
    }
    .Playground_header {
        display: block;
        height: auto;
        width : 80%;
        margin: 0 auto;
    }
    .intro{
        width: 90%;
    }

    .play{
        margin-top: 200px;
        width: 90%;
    }

    .gallery .grid {
        grid-template-columns: 1fr;
    }

   .grid_figure {
        grid-template-rows: 1fr 1.5em;
    }
}