.playground{
    height: auto;
    margin: 0 10%;

    align-items: center;
    margin-top: 150px;
}

.Playground_header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    height: 100px;
}

.intro{
    width: 70%;
    height: 100px;
}

.intro span{
    display: inline-block;
    padding-top: 20px;
    font-size: 18px;
}

.play{
    width: 30%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.play p {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    white-space: nowrap;
  }
  
.play span {
    position: relative;
  }
  
.play span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 22px;
    background: #000;
    bottom: 50px;
}

.gallery {
    display: block;
    width: 90%;
    margin: 30px auto;
    box-sizing: border-box;
}

.gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gallery figure {
    margin: 0;
}

.gallery figcaption {
    font-style: italic;
    font-size: 1em;
    color: black;
    font-weight: bold;
    line-height: 1.4;
    background: white;
}

.gallery .grid {
    display: grid;
    grid-gap: 5vw;
    padding: 2em 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_figure {
    display: grid;
    /* grid-gap: 0.5em; */
    /* grid-template-rows: 25em 1.5em; */
}

.grid_figure img {
    width: 100%;
    object-fit: contain;
}
