@media screen and (max-width: 768px) {

    .Lumia{
        margin-top: 15vh;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
    }

    .IntroPhoto {
        width: 90vw;
        /* max-width: 1260px; */
        /* height: 400px; */
        height: 15vh;
        background: url("../../public/Lumia/images/banner.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        /* border: 2px solid red;     */
    }

    .SecondPart #concept_1{
        width: 65vw;
        height: auto;
    }
    
    .SecondPart #concept_2{
        width: 65vw;
        height: auto;
    }
    
    .SecondPart .competitive{
        display: flex;
    
        width: 90vw;
        max-width: 1080px;
        margin-bottom: 5vh;
    }
    
    .SecondPart #competitive_1 {
        width: 80vw;
        height: auto;
    }
    
    .SecondPart #nondigital{
        width: 70%;
        height: auto;
    }
    
    .DesignPart  .distribution{
        margin-top: 0;
        margin-bottom: 10vh;
    }
    
    .DesignPart #color {
        margin-top: 7vh;
    }
    
    .DesignPart  #palette {
        width: 90vw;
        height: auto;
    }
    
    .Colordiv #line {
        width: 65vw;
        height: auto;
        margin: 5vh 0;
    }
    
    .DesignPart  #sketch{
        width: 95vw;;
        height: auto;
        margin: 5vh 0;
    }
    
    .DesignPart  #BA {
        width: 95vw;
        height: auto;
        margin: 5vh 0;
    }
    
    .DesignPart  #main {
        width: 90vw;
        height: auto;
        margin: 5vh 0;
    }
    
    .DesignPart  #other {
        width: 95vw;
        height: auto;
        margin: 5vh 0;
    }
    
    .DesignPart  #tutorial {
        width: 95vw;
        height: auto;
        margin: 5vh 0;
    }

    .LumiaOverview .distribution {
        flex-direction: column;
        height: auto;
        padding-bottom: 5vh;
        padding-left: 10vw;
        width: 80vw;
    }

    
    .LumiaOverview .distribution #column3 {
        display: none;
    }

    .DesignPart .distribution .env{
        font-size: 2vh;
    }

    /* .DesignPart .distribution .env #env-title{
        /* display: none; */

    .SecondPart .competitive .column p {
        display: none;
    }
    
}