body {
    font-family: Optima, 'Fira Code', "Comic Sans MS", "Comic Sans", cursive,
        Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

code {
    font-family: Optima, 'Fira Code', "Comic Sans MS", "Comic Sans", cursive,
        Roboto, Helvetica, Arial, sans-serif;
}

:root {
    --background: #F3EFEB;
    --primary: pink;
    --secondary: #3d3d3d;
    --error: #7d1236;
    --accent: #ebeaee;

    --Header: #111111;
    --Header-primary: #FFF;
}

[data-theme="light"] {
    --background: #F3EFEB;
    --primary: pink;
    --secondary: #3d3d3d;
    --error: #7d1236;
    --accent: #ebeaee;

    --Header: #111111;
    --Header-primary: #FFF;
    /* --blur-secondary: #02002F;
    --blur-background: rgba(242, 244, 242, 0.4); */
    --blur-secondary: #72D0CE;
    --blur-background: rgba(242, 244, 242, 0.4);
}

.App {
    color: var(--secondary);
    background-color: var(--background);
}

/* @media screen and (max-width: 768px) {
    .App{
        overflow-x: hidden;
    }
} */